#m-client-product,div.column4,.gold-vip-tip{ display: none;}
div.column3{ right: 0; width: 250px;}
div.column2{ right: 256px !important;}

a.vip-gray {
	background:url("//mu9.bdstatic.com/player/t/i/Ihms4QEX.png") right -108px no-repeat
}